{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container">

        <div class="col-md-6 col-sm-6 col-xs-12 bish">
            <div class="bishadress">
                <h1 class="bishkek">Bishkek Office</h1>
                <div class="adress">
                    <h5>Office#1</h5>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Adress:</div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">167 Toktogul Street, Bishkek</div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Phone:</div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">+996 550 312 949
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside"></div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">+996 312 986 545
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Whatsapp:</div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside"></div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">E-mail:</div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">info@kochevnik.kg
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Hours(Mon-Sun):</div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">9 am - 6 pm</div>
                    </div>
                </div>
                <div class="adress">
                    <h5>Office#2</h5>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Adress:</div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">Manas Airport, floor 1
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Phone:</div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">+996 312 693 507
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside"></div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">+996 552 312 949
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Hours(Mon-Sun):</div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">9 am - 6 pm</div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside"></div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 contactsmapbish">
                <iframe class="map2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1802.8595092254975!2d72.80295243394522!3d40.54078943866763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bdac00769f71df%3A0x6b9cf7097931cfb9!2zMjgg0J_RgC4g0JzQsNGB0LDQu9C40LXQstCwLCDQntGI!5e0!3m2!1sru!2skg!4v1485166001888" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 osh1">
            <div class="oshaderss">
                <h1 class="osh">Osh Office</h1>
                <div class="adress">
                    <h5>Office#1</h5>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Address:</div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">28/2 Masaliev Street, Osh
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Phone:
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">+996 312 28 66 77
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside"></div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">+996 550 08 66 77
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Hours (Mon - Fri):
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">10 am - 7 pm
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Hours (Sat):
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">11 am - 4 pm
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Hours (Sun):
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">day off</div>
                    </div>
                </div>
                <div class="adress">
                    <h5>Office#2</h5>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Address:</div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">28/2 Masaliev Street, Osh
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Phone:
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">+996 312 28 66 77
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside"></div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">+996 550 08 66 77
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Hours (Mon - Fri):
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">10 am - 7 pm
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Hours (Sat):
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">11 am - 4 pm
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Hours (Sun):
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">day off</div>
                    </div>
                </div>
                <div class="adress">
                    <h5>Office#3</h5>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Address:</div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">28/2 Masaliev Street, Osh
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Phone:
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">+996 312 28 66 77
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside"></div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">+996 550 08 66 77
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Hours (Mon - Fri):
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">10 am - 7 pm
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Hours (Sat):
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">11 am - 4 pm
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-4 col-xs-4 adressleftside">Hours (Sun):
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8 adressrightside">day off</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 contactsmapbish">
                <iframe class="map2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1802.8595092254975!2d72.80295243394522!3d40.54078943866763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bdac00769f71df%3A0x6b9cf7097931cfb9!2zMjgg0J_RgC4g0JzQsNGB0LDQu9C40LXQstCwLCDQntGI!5e0!3m2!1sru!2skg!4v1485166001888" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}